@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto Condensed", sans-serif;
}
.bg-primary {
  background-color: #ef0303 !important;
}
.btn-primary {
  background-color: #ef0303;
  border-color:#ef0303;
}
.btn-primary:hover {
  background-color: #000000;
  border-color: #ef0303;
}
.text-primary {
  color: #ef0303 !important;
}
.nav-link:hover {
  color: #ef0303 !important;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.move:hover {
  transform: translateX(+5px);
  transition: all 0.3s ease-in-out;
}
