@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto Condensed", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
.navbar-brand h4 {
  font-weight: 900;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
.container-fluid {
  padding: 20px;
}
.row {
  margin-bottom: 20px;
}
.col-12 {
  padding: 15px;
}
.bg-white {
  background-color: #ffffff !important;
}
.text-primary {
  color: #007bff !important;
}
.text-white {
  color: #ffffff !important;
}
.bg-black {
  background-color: #000000 !important;
}
